*{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfbfb;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.title1{
  width: 90%;
  background-color: #373737;
  padding: 8px 0px;
  margin: 2% auto;
  border-radius: 100px;
  color: #fcfbfb;
  text-align: center;
}